.container {
    height: 20px;
    position: relative;
    border: 400px solid white;
   
  }
  
  .center {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   
  }
  a,button{
    color:darksalmon;
    font-size:xx-large;
}
